In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

### **Spark Dataframe** ###
Um DataFrame spark é uma coleção de dados distribuido, organizado em linhas e colunas, cada coluna num Dataframe tem um nome e um tipo de dados associado. <br>
Podemos considerar um Dataframe spark com tabelas de bancos de dados relacionais com técnicas de otimização para processamento de dados distribuidos, possibilitando a manipulação de grandes volumes de dados <br><br>
**Alguns exemplos de fontes de dados para Dataframes spark** <br>

• **Arquivos estruturados, semiestruturados e não estruturados;<br>
• Fluxos de dados streaming;<br>
• Tabelas de bancos de dados relacionais e não relacionais;**<br>

In [2]:
spark = SparkSession.builder\
.config('spark.executor.memory', '8G')\
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/01 18:09:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

In [4]:
df = spark.createDataFrame(data=data)

In [5]:
df.show()

+-------+----+--------+-----+---+----+
|     _1|  _2|      _3|   _4| _5|  _6|
+-------+----+--------+-----+---+----+
|  James|    |   Smith|36636|  M|3000|
|Michael|Rose|        |40288|  M|4000|
| Robert|    |Williams|42114|  M|4000|
|  Maria|Anne|   Jones|39192|  F|4000|
|    Jen|Mary|   Brown|     |  F|  -1|
+-------+----+--------+-----+---+----+

In [6]:
df.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)

In [2]:
schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

NameError: name 'StructType' is not defined

In [3]:
df = spark.createDataFrame(data=data,schema=schema)

NameError: name 'spark' is not defined

In [ ]:
df.printSchema()

In [ ]:
df.show(truncate=False)

In [ ]:
!ls ../

In [ ]:
df.write.mode('overwrite').parquet("../data/people/")

In [ ]:
df2 = spark.read.format('parquet').load('../data/people/')

In [ ]:
df2.show()

In [ ]:
df2.write.format("delta").save("../data/delta/people/")

In [ ]:
! pip freeze